
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="../../plugins/swiper/css/swiper.css" rel="stylesheet" />
}
<div class="page">
    <div class="page-hd">
        @*<div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="http://oss.aliyuncs.com/weimob-com/image/64/bd/d4/20170107/20170107094541_58823.jpg" /></div>
                <div class="swiper-slide"><img src="http://oss.aliyuncs.com/weimob-com/image/64/bd/d4/20170107/20170107095621_13539.jpg" /></div>
                <div class="swiper-slide"><img src="http://oss.aliyuncs.com/weimob-com/image/64/bd/d4/20170107/20170107095629_88392.jpg" /></div>
            </div>
            <div class="entityshop-details-face mt-flex">
                <div class="entityshop-details-face-logo">
                    <img src="http://wx.qlogo.cn/mmopen/Dpykqvhd8F749MiakyFubeNcwjRbKY0JbHAR8qlMPbdla3tVMtsu9Oo4uG1x9x1c6fswcgbm3mXalXiazfWItO3uxzfbMMMWBZ/0" />
                </div>
                <div class="mt-flex-item entityshop-details-face-text">
                    <p class="entityshop-details-text-brand">现代纯K量贩式KTV（盐城中南店）</p>
                    <p class="entityshop-details-text-title">休闲娱乐/KTV ￥83/人</p>
                </div>
            </div>
        </div>*@
    </div>

    <div class="page-bd">
        <div class="mt-cells">

            <div class="mt-cell">
                <div class="mt-cell-hd"><i class="mt-icon mt-icon-clock-o mt-icon-fw mt-disabled"></i></div>
                <div class="mt-cell-bd">
                    <p>标题文字</p>
                </div>
                <div class="mt-cell-ft"></div>
            </div>
            <a class="mt-cell mt-cell-access" href="javascript:;">
                <div class="mt-cell-hd"><i class="mt-icon mt-icon-map-marker mt-icon-fw mt-disabled"></i></div>
                <div class="mt-cell-bd">
                    <p>标题文字标题文字标题文字标题文字</p>
                </div>
                <div class="mt-cell-ft"><i class="mt-icon mt-icon-angle-right"></i></div>
            </a>
            <a class="mt-cell mt-cell-access" href="javascript:;">
                <div class="mt-cell-hd"><i class="mt-icon mt-icon-phone mt-icon-fw mt-disabled"></i></div>
                <div class="mt-cell-bd">
                    <p>标题文字</p>
                </div>
                <div class="mt-cell-ft"><i class="mt-icon mt-icon-angle-right"></i></div>
            </a>
        </div>
        <div class="mt-cells">

            <a class="mt-cell mt-cell-access" href="javascript:;">
                <div class="mt-cell-hd"><i class="mt-icon mt-icon-rmb mt-icon-fw mt-disabled"></i></div>
                <div class="mt-cell-bd">
                    <p>标题文字标题文字</p>
                </div>
                <div class="mt-cell-ft"><i class="mt-icon mt-icon-angle-right"></i></div>
            </a>
        </div>
        <div class="mt-cells">

            <a class="mt-cell mt-cell-access" href="javascript:;">
                <div class="mt-cell-hd"><i class="mt-icon mt-icon-building mt-icon-fw mt-disabled"></i></div>
                <div class="mt-cell-bd">
                    <p>标题文字</p>
                </div>
                <div class="mt-cell-ft"><i class="mt-icon mt-icon-angle-right"></i></div>
            </a>
            <div class="mt-cell">
                <div class="mt-cell-hd"><i class="mt-icon mt-icon-gear mt-icon-fw mt-disabled"></i></div>
                <div class="mt-cell-hd">
                    <p>标题文字</p>
                </div>
                <div class="mt-cell-ft"></div>
            </div>
            <div class="mt-cell">
                <div class="mt-cell-hd">
                    <p class="mt-text-md mt-text-disabled">标题文字：</p>
                    <p>标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字</p>
                    <p class="mt-text-md mt-text-disabled">标题文字：</p>
                    <p>标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字标题文字</p>
                </div>
                <div class="mt-cell-ft"></div>
            </div>
        </div>
    </div>

    <div class="page-ft">

    </div>
</div>
@section js {
    <script src="../../plugins/swiper/js/swiper.jquery.js"></script>
    <script>
        //$(function () {
        //    var mySwiper = new Swiper('.swiper-container', {
        //        autoplay: 5000,//可选选项，自动滑动
        //    })
        //})
    </script>
}

