
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="../../plugins/swiper/css/swiper.css" rel="stylesheet" />
}
<div class="page">
    <div class="page-hd">
        <div class="entityshop-details-face">
            <div class="entityshop-details-face-hd">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="http://oss.aliyuncs.com/weimob-com/image/64/bd/d4/20170107/20170107094541_58823.jpg" /></div>
                        <div class="swiper-slide"><img src="http://oss.aliyuncs.com/weimob-com/image/64/bd/d4/20170107/20170107095621_13539.jpg" /></div>
                        <div class="swiper-slide"><img src="http://oss.aliyuncs.com/weimob-com/image/64/bd/d4/20170107/20170107095629_88392.jpg" /></div>
                    </div>
                </div>
                <div class="flex entityshop-details-face-region">
                    <div class="entityshop-details-face-logo">
                        <img src="http://wx.qlogo.cn/mmopen/Dpykqvhd8F749MiakyFubeNcwjRbKY0JbHAR8qlMPbdla3tVMtsu9Oo4uG1x9x1c6fswcgbm3mXalXiazfWItO3uxzfbMMMWBZ/0" />
                    </div>
                    <div class="flex-item entityshop-details-face-text">
                        <p class="entityshop-details-text-brand">现代纯K量贩式KTV（盐城中南店）</p>
                        <p class="entityshop-details-text-title">休闲娱乐/KTV ￥83/人</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-bd">
        <div class="list">
            <div class="list-bd">
                <div class="flex list-item">
                    <div class="list-item-hd"><i class="icon icon-home"></i></div>
                    <div class="flex-item list-item-bd">
                        <p>时间</p>
                    </div>
                    <div class="list-item-ft"><span class="inline-block">消费时间</span><i class="icon icon-angle-right margin-left-x1"></i></div>
                </div>
                <div class="flex list-item">
                    <div class="list-item-hd">地点</div>
                    <div class="flex-item list-item-bd"></div>
                    <div class="list-item-ft"></div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="list-bd">
                <div class="flex list-item">
                    <div class="list-item-hd"><i class="icon icon-home"></i></div>
                    <div class="flex-item list-item-bd">
                        <p>时间</p>
                    </div>
                    <div class="list-item-ft"><span class="inline-block">消费时间</span><i class="icon icon-angle-right margin-left-x1"></i></div>
                </div>
                <div class="flex list-item">
                    <div class="list-item-hd">地点</div>
                    <div class="flex-item list-item-bd"></div>
                    <div class="list-item-ft"></div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="list-bd">
                <div class="flex list-item">
                    <div class="list-item-hd"><i class="icon icon-home"></i></div>
                    <div class="flex-item list-item-bd">
                        <p>时间</p>
                    </div>
                    <div class="list-item-ft"><span class="inline-block">消费时间</span><i class="icon icon-angle-right margin-left-x1"></i></div>
                </div>
                <div class="flex list-item">
                    <div class="list-item-hd">地点</div>
                    <div class="flex-item list-item-bd"></div>
                    <div class="list-item-ft"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-ft">

    </div>
</div>
@section js {
    <script src="../../plugins/swiper/js/swiper.jquery.js"></script>
    <script>
        $(function () {
            var mySwiper = new Swiper('.swiper-container', {
                //autoplay: 5000,//可选选项，自动滑动
            })
        })
    </script>
}