
@{
    ViewBag.Title = "门店列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        判断是否领取会员卡 @ViewBag.AuthorizerAppID
    </div>
    <div id="js_add_card">
        领取会员卡
    </div>

    @section js {
    <script>
        $(function () {
            var cardID = 'pp8Cv1ZG5EF4xANmM1MgIsbnsGUE';
            var apiConfig = {
                cardList: []
            };

            $.ajax({
                url: '/home/getapiconfig?authorizerappid=' + '@ViewBag.AuthorizerAppID' + '&cardid=' + cardID,
                type: 'get',
                async: !1,
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        if (data.code == 0) {
                            var configData = data.data;
                            apiConfig.cardList.push({
                                cardId: cardID,
                                cardExt: configData.cardExt
                            });
                        } else {
                            alert(data.msg);
                        }
                    }
                },
                error: function () {
                    console && console.log('签名失败')
                }
            });

            $('#js_add_card').on('click', function () {
                wx.addCard(apiConfig);
            });
        });
    </script>    
    }
</body>
</html>
