@model Model_9H.MemberCardActivateModel
@{
    ViewBag.Title = "激活会员卡";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page">
    <div class="page-hd">

    </div>

    <div class="page-bd">
        <form id="form0" action="/membercard/activate" method="post">
            <div class="list">
                <div class="list-hd">
                    必填信息
                </div>
                <div class="list-bd">
                    <div class="flex list-item">
                        <div class="list-item-hd">
                            <label class="inline-block width-2x">手机号</label>
                        </div>
                        <div class="flex-item list-item-bd">
                            <input class="input" name="mobile" type="number" value="" placeholder="请输入您的手机号" />
                        </div>
                        <div class="list-item-ft">

                        </div>
                    </div>
                    <div class="flex list-item">
                        <div class="list-item-hd">
                            <label class="inline-block width-2x">姓名</label>
                        </div>
                        <div class="flex-item list-item-bd">
                            <input class="input" name="realname" type="text" value="" placeholder="请输入您的姓名" />
                        </div>
                        <div class="list-item-ft">

                        </div>
                    </div>
                    <div class="flex list-item list-item-select">
                        <div class="list-item-hd">
                            <label class="inline-block width-2x">性别</label>
                        </div>
                        <div class="flex-item list-item-bd">
                            <select class="select" name="gender">
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>
                        </div>
                        <div class="list-item-ft">

                        </div>
                    </div>
                    <div class="flex list-item">
                        <div class="list-item-hd">
                            <label class="inline-block width-2x">生日</label>
                        </div>
                        <div class="flex-item list-item-bd">
                            <input class="input date" name="birthday" type="date" value="" />
                        </div>
                        <div class="list-item-ft">

                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-area">
                <input class="btn btn-success" type="submit" value="确认提交" />
            </div>
        </form>
    </div>

    <div class="page-ft">

    </div>
</div>

@section js {
    <script src="../../plugins/jquery.validate/jquery.validate.js"></script>
    <script src="../../js/additional-methods.js"></script>
    <script src="../../plugins/jquery.validate/messages_zh.js"></script>
    <script>
        $().ready(function () {
            $("#form0").validate({
                rules: {
                    mobile: {
                        required: true,
                        mobileCH: true
                    },
                    realname: {
                        required: true,
                        minlength: 2,
                        maxlength: 10,
                    },
                    gender: {
                        required: true
                    },
                    birthday: {
                        required: true,
                        dateISO: true,
                    }
                },
                submitHandler: function (form) {
                    var option = {
                        type: 'POST',
                        url: '/membercard/activate',
                        data: $(form).serializeArray(),
                        cache: false,
                        beforeSend: function (xhr) {
                            //var result;
                            //asyncOnBeforeSend(xhr, method);
                            //result = getFunction(element.getAttribute("data-ajax-begin"), ["xhr"]).apply(element, arguments);
                            //if (result !== false) {
                            //    loading.show(duration);//动画开始
                            //}
                            //return result;
                        },
                        complete: function () {
                            //loading.hide(duration);//动画结束
                            //getFunction(element.getAttribute("data-ajax-complete"), ["xhr", "status"]).apply(element, arguments);
                        },
                        success: function (data, status, xhr) {
                            //asyncOnSuccess(element, data, xhr.getResponseHeader("Content-Type") || "text/html");
                            //getFunction(element.getAttribute("data-ajax-success"), ["data", "status", "xhr"]).apply(element, arguments);
                            if (data) {
                                alert(data.msg);
                            }
                        },
                        error: function () {
                            //getFunction(element.getAttribute("data-ajax-failure"), ["xhr", "status", "error"]).apply(element, arguments);
                        }
                    };
                    $.ajax(option);
                }
            });
        });
    </script>
}

