
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <div class="page-hd">

    </div>

    <div class="page-bd">
        <div class="list">
            <div class="list-bd">
                <div class="flex list-item">
                    <div class="list-item-hd"></div>
                    <div class="flex-item list-item-bd">
                        <p>消费门店</p>
                    </div>
                    <div class="list-item-ft">现代纯K盐城中南店</div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="list-bd">
                <div class="flex list-item">
                    <div class="list-item-hd"></div>
                    <div class="flex-item list-item-bd">
                        <p>消费总额</p>
                    </div>
                    <div class="list-item-ft">
                        <input class="input text-align-right" name="totalfee" type="number" value="" placeholder="输入......" />
                    </div>
                </div>
            </div>
        </div>

        @*<div class="list">
                <label class="list-hd">
                    <input class="checkbox" type="checkbox" value="" /><span class="inline-block margin-left-x2">输入相关协议头</span>
                </label>

                <div class="list-bd">
                    <div class="flex list-item">
                        <div class="list-item-hd"></div>
                        <div class="flex-item list-item-bd">
                            <label class="inline-block">时间时间时间时间</label>
                        </div>
                        <div class="list-item-ft">
                            <input class="input text-align-right" type="number" value="" placeholder="输入......" />
                        </div>
                    </div>
                </div>
            </div>*@

        @*<div class="list">
                <div class="list-bd">
                    <div class="flex list-item list-item-switch">
                        <div class="list-item-hd"><i class="icon icon-home"></i></div>
                        <div class="flex-item list-item-bd">
                            <p>时间时间时间时间时间时间</p>
                        </div>
                        <div class="list-item-ft">
                            <input class="switch" type="checkbox" disabled>
                        </div>
                    </div>
                    <div class="flex list-item">
                        <div class="list-item-hd">地点</div>
                        <div class="flex-item list-item-bd"></div>
                        <div class="list-item-ft"></div>
                    </div>
                </div>
            </div>*@

        @*<div class="list">
                <div class="list-bd">
                    <div class="flex list-item">
                        <div class="list-item-hd"><i class="icon icon-home"></i></div>
                        <div class="flex-item list-item-bd">
                            <p>时间</p>
                        </div>
                        <div class="list-item-ft"><span class="inline-block">消费时间</span><i class="icon icon-angle-right margin-left-x1"></i></div>
                    </div>
                    <div class="flex list-item">
                        <div class="list-item-hd">地点</div>
                        <div class="flex-item list-item-bd"></div>
                        <div class="list-item-ft"></div>
                    </div>
                </div>
            </div>*@

        <div class="btn-area">
            <input class="btn btn-success" type="button" value="立即买单" onclick="goConfirm()" />
        </div>
    </div>

    <div class="page-ft">

    </div>
</div>

@section js {
    <script>
        function goConfirm() {
            var url = '/order/confirm?entityshopid=' + '&totalfee=100';
            location.href = url;
        }
    </script>
}