
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <div class="page-hd">
        <div class="card-face">
            <div class="card-face-hd">
                <!-- 卡面设计请遵循https://mp.weixin.qq.com/cgi-bin/readtemplate?t=cardticket/card_cover_tmpl&type=info&lang=zh_CN，像素大小控制在1000像素*600像素以下 -->
                <img src="../../img/membercard.png" />
                <div class="card-face-info mt-flex">
                    <div class="card-face-logo">
                        <img src="http://wx.qlogo.cn/mmopen/Dpykqvhd8F749MiakyFubeNcwjRbKY0JbHAR8qlMPbdla3tVMtsu9Oo4uG1x9x1c6fswcgbm3mXalXiazfWItO3uxzfbMMMWBZ/0" />
                    </div>
                    <div class="mt-flex-item card-face-text">
                        <p class="card-text-brand">现代纯K量贩式KTV</p>
                        <p class="card-text-title">现代纯K量贩式KTV</p>
                    </div>
                </div>
                <a class="card-face-qrcode" href="javascript:;"><i class="mt-icon mt-icon-qrcode mt-icon-3x mt-primary"></i></a>
                <a class="card-face-num" href="javascripts:;">15210470906</a>
                <a class="card-face-details" href="javascript:;"><i class="mt-icon mt-icon-info-circle mt-disabled"></i></a>
            </div>
            <div class="card-face-bd mt-flex">
                <div class="mt-flex-item">
                    <p>积分</p>
                    <p>52</p>
                </div>
                <div class="mt-flex-item">
                    <p>余额</p>
                    <p>0.00</p>
                </div>
                <div class="mt-flex-item">
                    <p>优惠券</p>
                    <p>0张</p>
                </div>
                <div class="mt-flex-item">
                    <p>等级</p>
                    <p>普通会员</p>
                </div>
            </div>
            <div class="card-face-ft mt-flex">
                <div class="mt-flex-item">
                    <a class="mt-btn mt-plain-success" href="javascript:;">会员买单</a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-bd">
        <div class="card-services-title">
            <p>会员服务</p>
        </div>
        <div class="card-services">
            <div class="card-service mt-flex">
                <div class="mt-flex-item">
                    <p><i class="mt-icon mt-icon-flag"></i></p>
                    <p>领券中心</p>
                </div>
                <div class="mt-flex-item">
                    <p><i class="mt-icon mt-icon-flag"></i></p>
                    <p>领券中心</p>
                </div>
                <div class="mt-flex-item">
                    <p><i class="mt-icon mt-icon-flag"></i></p>
                    <p>领券中心</p>
                </div>
                <div class="mt-flex-item">
                    <p><i class="mt-icon mt-icon-flag"></i></p>
                    <p>领券中心</p>
                </div>
            </div>
            <div class="card-service mt-flex">
                <div class="mt-flex-item">
                    <p><i class="mt-icon mt-icon-flag"></i></p>
                    <p>领券中心</p>
                </div>
                <div class="mt-flex-item">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-ft">

    </div>
</div>
@section js {

}

