*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  min-height: 100%;
}
body {
  position: relative;
  font-family: -apple-system-font,"Helvetica Neue",sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  color: #333333;
  background: #ffffff;
}
[data-dpr="2"] body {
  font-size: 28px;
}
[data-dpr="3"] body {
  font-size: 42px;
}
/* ==========================================================================
   Component: weui-cells
 ============================================================================ */
.weui-cells-title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.weui-cells-title + .weui-cells {
  margin-top: 0;
}
.weui-cells {
  position: relative;
  overflow: hidden;
  margin-top: 1.5rem;
}
.weui-cells:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: .1rem;
  border-top: .1rem solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  z-index: 2;
}
.weui-cells:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: .1rem;
  border-bottom: .1rem solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  z-index: 2;
}
.weui-cell {
  padding: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.weui-cell:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: .1rem;
  border-top: .1rem solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  left: 1.5rem;
  z-index: 2;
}
.weui-cell:first-child:before {
  display: none;
}
.weui-cell-bd {
  -webkit-box-flex: 1;
      -webkit-flex: 1;
              flex: 1;
}
.weui-cell-ft {
  text-align: right;
}
.weui-cell-access {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
}
.weui-cell-access:active {
  background-color: #ECECEC;
}
.weui-cell-access .weui-cell-ft {
  padding-right: 1.5rem;
  position: relative;
}
.weui-cell-access .weui-cell-ft:after {
  content: " ";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-width: .2rem .2rem 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -.4rem;
  right: 0;
}
/* ==========================================================================
   Component: Utility
 ============================================================================ */
.mui-scrollable-horizontal {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
}
.mui-scrollable-vertical {
  height: 240px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  resize: vertical;
}
/* Border-radius */
.mui-square {
  border-radius: 0;
}
.mui-radius {
  border-radius: 2px;
}
.mui-circle {
  border-radius: 50%;
}
/* Float blocks */
.mui-cf:before,
.mui-cf:after {
  content: " ";
  display: table;
}
.mui-cf:after {
  clear: both;
}
.mui-fl {
  float: left;
}
.mui-fr {
  float: right;
}
.mui-nbfc {
  overflow: hidden;
}
.mui-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Display */
.mui-block {
  display: block !important;
}
.mui-inline {
  display: inline !important;
}
.mui-inline-block {
  display: inline-block !important;
}
.mui-hide {
  display: none !important;
  visibility: hidden !important;
}
.mui-vertical-align-middle {
  vertical-align: middle;
}
.mui-vertical-align-bottom {
  vertical-align: bottom;
}
/* Margin helpers */
.mui-margin-0 {
  margin: 0 !important;
}
.mui-margin-xs {
  margin: 0.5rem;
}
.mui-margin-sm {
  margin: 1rem;
}
.mui-margin-md {
  margin: 1.5rem;
}
.mui-margin-lg {
  margin: 2.0rem;
}
.mui-margin-horizontal-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mui-margin-horizontal-xs {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mui-margin-horizontal-sm {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mui-margin-horizontal-md {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mui-margin-horizontal-lg {
  margin-left: 2.0rem;
  margin-right: 2.0rem;
}
.mui-margin-vertical-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mui-margin-vertical-xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mui-margin-vertical-sm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mui-margin-vertical-md {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.mui-margin-vertical-lg {
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
}
.mui-margin-top-0 {
  margin-top: 0 !important;
}
.mui-margin-top-xs {
  margin-top: 0.5rem;
}
.mui-margin-top-sm {
  margin-top: 1rem;
}
.mui-margin-top-md {
  margin-top: 1.6rem;
}
.mui-margin-top-lg {
  margin-top: 2.0rem;
}
.mui-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.mui-margin-bottom-xs {
  margin-bottom: 0.5rem;
}
.mui-margin-bottom-sm {
  margin-bottom: 1rem;
}
.mui-margin-bottom-md {
  margin-bottom: 1.5rem;
}
.mui-margin-bottom-lg {
  margin-bottom: 2.0rem;
}
.mui-margin-left-0 {
  margin-left: 0 !important;
}
.mui-margin-left-xs {
  margin-left: 0.5rem;
}
.mui-margin-left-sm {
  margin-left: 1rem;
}
.mui-margin-left-md {
  margin-left: 1.5rem;
}
.mui-margin-left-lg {
  margin-left: 2.0rem;
}
.mui-margin-right-0 {
  margin-right: 0 !important;
}
.mui-margin-right-xs {
  margin-right: 0.5rem;
}
.mui-margin-right-sm {
  margin-right: 1rem;
}
.mui-margin-right-md {
  margin-right: 1.5rem;
}
.mui-margin-right-lg {
  margin-right: 2.0rem;
}
/* Padding helpers */
.mui-padding-0 {
  padding: 0 !important;
}
.mui-padding-xs {
  padding: 0.5rem;
}
.mui-padding-sm {
  padding: 1rem;
}
.mui-padding-md {
  padding: 1.5rem;
}
.mui-padding-lg {
  padding: 2.0rem;
}
.mui-padding-horizontal-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.mui-padding-horizontal-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.mui-padding-horizontal-sm {
  padding-left: 1rem;
  padding-right: 1rem;
}
.mui-padding-horizontal-md {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.mui-padding-horizontal-lg {
  padding-left: 2.0rem;
  padding-right: 2.0rem;
}
.mui-padding-vertical-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.mui-padding-vertical-xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.mui-padding-vertical-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.mui-padding-vertical-md {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.mui-padding-vertical-lg {
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
}
.mui-padding-top-0 {
  padding-top: 0 !important;
}
.mui-padding-top-xs {
  padding-top: 0.5rem;
}
.mui-padding-top-sm {
  padding-top: 1rem;
}
.mui-padding-top-md {
  padding-top: 1.5rem;
}
.mui-padding-top-lg {
  padding-top: 2.0rem;
}
.mui-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.mui-padding-bottom-xs {
  padding-bottom: 0.5rem;
}
.mui-padding-bottom-sm {
  padding-bottom: 1rem;
}
.mui-padding-bottom-md {
  padding-bottom: 1.5rem;
}
.mui-padding-bottom-lg {
  padding-bottom: 2.0rem;
}
.mui-padding-left-0 {
  padding-left: 0 !important;
}
.mui-padding-left-xs {
  padding-left: 0.5rem;
}
.mui-padding-left-sm {
  padding-left: 1rem;
}
.mui-padding-left-md {
  padding-left: 1.5rem;
}
.mui-padding-left-lg {
  padding-left: 2.0rem;
}
.mui-padding-right-0 {
  padding-right: 0 !important;
}
.mui-padding-right-xs {
  padding-right: 0.5rem;
}
.mui-padding-right-sm {
  padding-right: 1rem;
}
.mui-padding-right-md {
  padding-right: 1.5rem;
}
.mui-padding-right-lg {
  padding-right: 2.0rem;
}
/* small displays */
@media only screen {
  .mui-show-sm,
  .mui-hide-md,
  .mui-hide-lg {
    display: inherit !important;
  }
  .mui-hide-sm,
  .mui-show-md,
  .mui-show-lg {
    display: none !important;
  }
}
/* medium displays */
@media only screen and (min-width:641px) {
  .mui-hide-sm,
  .mui-show-md,
  .mui-hide-lg {
    display: inherit !important;
  }
  .mui-show-sm,
  .mui-hide-md,
  .mui-show-lg {
    display: none !important;
  }
}
/* large displays */
@media only screen and (min-width:1025px) {
  .mui-hide-sm,
  .mui-hide-md,
  .mui-show-lg {
    display: inherit !important;
  }
  .mui-show-sm,
  .mui-show-md,
  .mui-hide-lg {
    display: none !important;
  }
}
/* Text align */
.mui-text-left {
  text-align: left !important;
}
.mui-text-right {
  text-align: right !important;
}
.mui-text-center {
  text-align: center !important;
}
.mui-text-justify {
  text-align: justify !important;
}
.mui-text-top {
  vertical-align: top !important;
}
.mui-text-middle {
  vertical-align: middle !important;
}
.mui-text-bottom {
  vertical-align: bottom !important;
}
.mui-ellipsis,
.mui-text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}
.mui-text-break {
  word-wrap: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.mui-text-nowrap {
  white-space: nowrap;
}