*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
img {
    display: block;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active,
a:hover {
  outline: 0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  min-height: 100%;
}
body {
  position: relative;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: .32rem;
  line-height: 1.5;
  color: #333333;
  background: #f8f8f8;
}
/* ==========================================================================
   Component: Flex
 ============================================================================ */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-item {
  -webkit-box-flex: 1;
      -webkit-flex: 1;
              flex: 1;
}
/* ==========================================================================
   Component: List
 ============================================================================ */
.list {

}
.list-hd {
  display: block;
  padding: .2rem .3rem;
}
.list-bd {
  margin-top: .3rem;
  border-width: .02rem 0;
  border-style: solid;
  border-color: #c5c5c5;
  background-color: #ffffff;
}
.list-hd + .list-bd {
  margin-top: 0;
}
.list-item {
  margin-left: .3rem;
  padding: .3rem .3rem .3rem 0;
  border-top: .02rem solid #c5c5c5;
}
.list-item:first-child {
  border-top: 0;
}
.list-item-switch {
  padding-top: .22rem;
  padding-bottom: .22rem;
}
.list-item-switch.flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.list-item-select {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.list-item-select.flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* ==========================================================================
   Component: Switch
 ============================================================================ */
.switch {
  display: block;
  position: relative;
  border: .02rem solid #c5c5c5;
  border-radius: .32rem;
  width: 1.28rem;
  height: .64rem;
  background-color: #fdfdfd;
  outline: 0;
  -webkit-transition: background-color 0.1s, border 0.1s;
  transition: background-color 0.1s, border 0.1s;
  -webkit-appearance: none;
}
.switch:before {
  position: absolute;
  border-radius: 50%;
  width: .60rem;
  height: .60rem;
  background-color: #ffffff;
  content: " ";
  box-shadow: 0 .02rem .06rem #666666;
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35); 
}
.switch:checked {
  border-color: #04be02;
  background-color: #04be02;
}
.switch:checked:before {
  transform: translateX(.64rem);
}
.switch:disabled {
  opacity: .5;
}
/* ==========================================================================
   Component: Button
 ============================================================================ */
.btn-area {
  margin: .3rem;
}
.btn {
  display: block;
  padding: .3rem;
  border-radius: .1rem;
  width: 100%;
  font-size: .32rem;
  line-height: inherit;
  text-align: center;
}
.btn.btn-success {
  color: #ffffff;
  background-color: #1aad19;
}
/* ==========================================================================
   Component: Utility
 ============================================================================ */
.text-align-right {
  text-align: right;
}
.input {
  display: block;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
  -webkit-appearance: none;
}
.input.date {
  line-height: 1;
}
.input.date::-webkit-clear-button
{
  visibility: hidden;
}
.checkbox {
  width: .26rem;
  height: .26rem;
}
.select {
  display: block;
  position: relative;
  width: 100%;
  height: 1.08rem;
  line-height: 1.08rem;
  font-size: inherit;
  outline: 0;
  -webkit-appearance: none;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.width-x {
  width: 1rem;
}
.width-2x {
  width: 2rem;
}
.margin-left-x1 {
  margin-left: .1rem;
}
.margin-left-x2 {
  margin-left: .2rem;
}
.margin-left-x3 {
  margin-left: .3rem;
}
/* ==========================================================================
   Component: Fix
 ============================================================================ */
.swiper-slide {
  
}
.swiper-slide img{
  width:100%;
}
label.error {
    display: block;
    color: #ff0000;
}
/* ==========================================================================
   Component: Pages
 ============================================================================ */
/* EntityShop details */
.entityshop-details-face {
    position: relative;
}
.entityshop-details-face-hd {
  position: relative;
}
.entityshop-details-face-region {
  position: absolute; 
  top: 2rem; 
  z-index: 999;
  padding: .3rem;
}
.entityshop-details-face-logo > img {
  width: 1.6rem
}
.entityshop-details-face-text {
    margin-left: .3rem;
}
.entityshop-details-text-brand {
    font-weight: 700;
    color: #ffffff;
}
.entityshop-details-text-title {
    color: #ffffff;
}
/* Card helper */
.card-face {
  position: relative;
  padding: .3rem;
  background-color: #ffffff;
}
.card-face-hd {
  position: relative;
}
.card-face-hd > img {
  width: 100%;
}
.card-face-region {
  position: absolute; 
  top: .3rem; 
  left: .3rem;
  z-index: 999;
}
.card-face-logo {

}
.card-face-logo > img {
  border-radius: 50%; 
  width: .96rem
}
.card-face-text {
   margin-top: .06rem; 
   margin-bottom: .06rem;
   margin-left: .3rem;
}
.card-text-brand {
  font-weight: 700;
  color: #ffffff;
}
.card-text-title {
  font-size: .24rem;
  color: #ffffff;
}
.card-face-qrcode {
  position: absolute;
  top: .3rem;
  right: .3rem;
  z-index: 999;
  color: #ffffff;
}
.card-face-num {
  position: absolute;
  bottom: .3rem;
  left: .3rem;
  z-index: 999;
  color: #ffffff;
}
.card-face-details {
  position: absolute;
  right: .3rem;
  bottom: .3rem;
  z-index: 999;
  color: #c5c5c5;
}
.card-face-bd {
  margin-top: .3rem;
  text-align: center;
  background-color: #ffffff;
}
.card-face-bd > .flex-item {
  border-left: .02rem solid #c5c5c5;
}
.card-face-bd > .flex-item:first-child {
  border-left: 0;
}
.card-face-ft {
    margin-top: .6rem;
}
/* Card services */
.card-services-title {
  padding: .3rem;
}
.card-services {
  border-width: .02rem 0;
  border-style: solid;
  border-color: #c5c5c5;
  background-color: #ffffff;
}
.card-service {
  border-top: .02rem solid #c5c5c5;
}
.card-service:first-child {
  border-top: none;
}
.card-service .flex-item {
  border-left: .02rem solid #c5c5c5;
  padding: .3rem;
  text-align: center;
}
.card-service .flex-item:first-child {
    border-left: none;
}