
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <div class="page-hd">
        <div class="card-face-container">
            <div class="card-face-wrapper">
                <img src="../../img/membercard.png" />
                <div class="card-face-logo">
                    <div class="mt-fl">
                        <img src="http://wx.qlogo.cn/mmopen/Dpykqvhd8F749MiakyFubeNcwjRbKY0JbHAR8qlMPbdla3tVMtsu9Oo4uG1x9x1c6fswcgbm3mXalXiazfWItO3uxzfbMMMWBZ/0" style="border-radius: 50%; width: .96rem" />
                    </div>
                    <div class="mt-fl mt-margin-left-md" style="margin-top: .16rem; margin-bottom: .16rem;">
                        <p class="mt-text-bold mt-text-primary" style="">现代纯K量贩式KTV</p>
                        <p class="mt-text-primary">现代纯K量贩式KTV</p>
                    </div>
                </div>
                <a class="card-face-qrcode mt-btn-primary" href="javascript:;"><i class="mt-icon mt-icon-qrcode mt-icon-3x mt-icon-primary"></i></a>
                <a class="card-face-num mt-btn-primary" href="javascripts:;">15210470906</a>
                <a class="card-face-info mt-btn-primary" href="javascript:;"><i class="mt-icon mt-icon-info-circle mt-disabled"></i></a>
            </div>
        </div>
        <div class="mt-card-properties mt-flex">
            <div class="mt-flex-item">
                <p>积分</p>
                <p>52</p>
            </div>
            <div class="mt-flex-item">
                <p>余额</p>
                <p>0.00</p>
            </div>
            <div class="mt-flex-item">
                <p>优惠券</p>
                <p>0张</p>
            </div>
            <div class="mt-flex-item">
                <p>等级</p>
                <p>普通会员</p>
            </div>
        </div>
    </div>

    <div class="page-bd">
        <div class="mt-card-services">

        </div>
    </div>

    <div class="page-ft">

    </div>
</div>
@section js {

}