
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-list">
    <div class="mt-list-hd">
        <p class="mt-list-title">开关</p>
    </div>
    <div class="mt-list-bd">
        <div class="mt-flex mt-list-item">
            <div><i class="mt-icon mt-icon-home"></i></div>
            <div class="mt-flex-item">普通会员享受10折</div>
            <div>暂无可用</div>
        </div>
        <div class="mt-flex mt-list-item">
            <div>优惠券</div>
            <div class="mt-flex-item"></div>
            <div>暂无可用</div>
        </div>
    </div>
</div>