
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <div class="page-hd">
        
    </div>

    <div class="page-bd">
        <div class="mt-cells">

            <div class="mt-cell">
                <div class="mt-cell-hd">
                    <label class="mt-label">消费门店</label>
                </div>
                <div class="mt-cell-bd">
                    <p>现代纯K量贩式KTV（中南店）</p>
                </div>
                <div class="mt-cell-ft"><i class="mt-icon mt-icon-angle-right"></i></div>
            </div>
        </div>
        <div class="mt-cells">

            <a class="mt-cell mt-cell-access" href="javascript:;">
                <div class="mt-cell-hd">
                    <label class="mt-label2">消费金额</label>
                </div>
                <div class="mt-cell-bd">
                    
                </div>
                <div class="mt-cell-ft">
                    <input class="mt-input mt-text-right" name="name" type="text" value="" placeholder="请输入消费金额" />
                </div>
            </a>
        </div>
        <div class="mt-cells-title">
            <input class="mt-checkbox mt-margin-right-sm" id="isOpenReal" name="isOpenReal" type="checkbox" value="" /><label for="isOpenReal">输入不参与优惠金额（如酒水、餐具）</label>
        </div>
        <div class="mt-cells">

            <div class="mt-cell">
                <div class="mt-cell-hd">
                    <label class="mt-label2">不参与优惠金额</label>
                </div>
                <div class="mt-cell-bd">
                    
                </div>
                <div class="mt-cell-ft">
                    <input class="mt-input mt-text-right" name="name" type="text" value="" placeholder="询问服务员后输入" />
                </div>
            </div>
        </div>
        <div class="mt-cells">

            <div class="mt-cell">
                <div class="mt-cell-hd">
                    <label class="mt-label2">实付金额</label>
                </div>
                <div class="mt-cell-bd">

                </div>
                <div class="mt-cell-ft">
                    <p class="mt-text-right">￥8888</p>
                </div>
            </div>
        </div>
        <div class="mt-cells-title">
            <a class="mt-btn mt-plain-success" href="javascript:;">微信支付</a>
        </div>
    </div>

    <div class="page-ft">
        
    </div>
</div>
@section js {

}