
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui-container">
    <div class="mui-page">
        <div class="mui-page-hd">

        </div>

        <div class="mui-page-bd">

        </div>

        <div class="mui-page-ft">

        </div>
    </div>
</div>
