
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-page">
    <div class="mt-page-hd">
        <div class="mt-card-container">
            <div class="mt-card-wrapper">
                <img src="http://oss.aliyuncs.com/weimob-com/image/64/bd/d4/20170107/20170107122733_48054.png" />
            </div>
            <div class="mt-card-fore">
                <div class="mt-flex">
                    <div>
                        <img src="http://wx.qlogo.cn/mmopen/Dpykqvhd8F749MiakyFubeNcwjRbKY0JbHAR8qlMPbdla3tVMtsu9Oo4uG1x9x1c6fswcgbm3mXalXiazfWItO3uxzfbMMMWBZ/0" style="border-radius: 50%;width: 1rem" />
                    </div>
                    <div class="mt-flex-item mt-margin-left-md">
                        <p class="mt-text-bold mt-text-primary" style="">现代纯K量贩式KTV</p>
                        <p class="mt-text-primary">休闲娱乐/KTV ￥83/人</p>
                    </div>
                </div>
            </div>
            <a class="mt-card-qrcode mt-btn-primary" href="javascript:;"><i class="mt-icon mt-icon-qrcode mt-icon-4x mt-icon-primary"></i></a>
            <a class="mt-card-num mt-btn-primary" href="javascripts:;">15210470906</a>
            <a class="mt-card-info mt-btn-primary" href="javascript:;"><i class="mt-icon mt-icon-info-circle mt-disabled"></i></a>
        </div>
    </div>

    <div class="mt-page-bd">
        
    </div>

    <div class="mt-page-ft">

    </div>
</div>
@section js {

}