
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<input type="text" name="name" value="" /><br />
<input type="tel" name="name" value="" /><br />
<input type="search" name="name" value="" /><br />

<select>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>*@

<div class="mt-cells">
    <!-- 行 -->
    <div class="mt-cell">
        <div class="mt-cell-hd">

        </div>
        <div class="mt-cell-bd">

        </div>
        <div class="mt-cell-ft">

        </div>
    </div>
    <div class="mt-cell">

    </div>
</div>