
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-page">
    <div class="mt-page-hd">
        @*<div class="swiper-container" id="js-swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="http://oss.aliyuncs.com/weimob-com/image/64/bd/d4/20170107/20170107094541_58823.jpg" /></div>
                <div class="swiper-slide"><img src="http://oss.aliyuncs.com/weimob-com/image/64/bd/d4/20170107/20170107095621_13539.jpg" /></div>
                <div class="swiper-slide"><img src="http://oss.aliyuncs.com/weimob-com/image/64/bd/d4/20170107/20170107095629_88392.jpg" /></div>
            </div>
        </div>*@
    </div>

    <div class="mt-page-bd">
        @*<div class="mt-cells-title">带图标、说明、跳转的列表项</div>*@
        <div class="mt-cells">

            <div class="mt-cell" href="javascript:;">
                <div class="mt-cell-hd"><i class="mt-icon mt-icon-clock-o mt-icon-fw"></i></div>
                <div class="mt-cell-bd">
                    <p>营业时间：10:00 - 18:00</p>
                </div>
                <div class="mt-cell-ft"></div>
            </div>
            <a class="mt-cell mt-cell-access" href="javascript:;">
                <div class="mt-cell-hd"></div>
                <div class="mt-cell-bd">
                    <p>江苏省盐城市解放南路中南城购物中心5楼</p>
                </div>
                <div class="mt-cell-ft"></div>
            </a>
            <a class="mt-cell mt-cell-access" href="javascript:;">
                <div class="mt-cell-hd"></div>
                <div class="mt-cell-bd">
                    <p>0515-88555577</p>
                </div>
                <div class="mt-cell-ft"></div>
            </a>
        </div>
        <div class="mt-cells">

            <a class="mt-cell mt-cell-access" href="javascript:;">
                <div class="mt-cell-hd"></div>
                <div class="mt-cell-bd">
                    <p>会员享受9折优惠</p>
                </div>
                <div class="mt-cell-ft"><i class="mt-icon mt-icon-angle-right mt-icon-sm"></i></div>
            </a>
        </div>
        <div class="mt-cells">

            <a class="mt-cell mt-cell-access" href="javascript:;">
                <div class="mt-cell-hd"></div>
                <div class="mt-cell-bd">
                    <p>查看全部门店</p>
                </div>
                <div class="mt-cell-ft"></div>
            </a>
            <div class="mt-cell" href="javascript:;">
                <div class="mt-cell-hd">
                    <p>商户信息</p>
                </div>
                <div class="mt-cell-ft"></div>
            </div>
            <div class="mt-cell" href="javascript:;">
                <div class="mt-cell-hd">
                    <p>商户简介：</p>
                    <p>现代纯K量贩KTV隶属于先代纯凯娱乐有限公司，本公司坐落于盐城城南开发区中南城购物中心5F，营业面积4000多平米，场所采用进口壁纸、珍贵石材，高端大气的装修风格，包厢配有小型舞台、复古立麦，配置全国一流VOD点歌系统和专业K歌音响，快捷的点歌服务、随心的灯光效果、震撼的视听感受，本公司提供大型停车场，让你泊车无忧，热情贴心的服务团队，给您五星K歌感受！</p>
                    <p>商户特色：</p>
                    <p>包厢配有小型舞台、复古立麦，配置全国一流VOD点歌系统和专业K歌音响，快捷的点歌服务、随心的灯光效果、震撼的视听感受，本公司提供大型停车场，让你泊车无忧。</p>
                </div>
                <div class="mt-cell-ft"></div>
            </div>
        </div>
    </div>

    <div class="mt-page-ft">

    </div>
</div>
@section js {
    <script>
        $(function () {
            //var mySwiper = new Swiper('.swiper-container', {
            //    autoplay: 5000,//可选选项，自动滑动
            //})
        })
    </script>
}