
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label class="mt-agree mt-cells-title">
    <input class="mt-agree-checkbox" name="" type="checkbox" value="" />
    <span class="mt-agree-text">阅读并同意</span>
</label>
<div class="mt-cells">
    <div class="mt-cell">
        <div class="mt-cell-hd">
            <label class="mt-label">不参与优惠金额</label>
        </div>
        <div class="mt-cell-bd">
            <input class="mt-input" name="" type="text" value="" />
        </div>
    </div>
</div>
    