<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit" />

    <title>@ViewBag.Title</title>
    <link href="../../css/common.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <link href="../../plugins/font-weui/css/font-weui.css" rel="stylesheet" />
    <script src="../../plugins/jquery/jquery.js"></script>
    <script src="../../js/flexible.js"></script>

</body>
</html>
